  /* .way img {
    position: fixed;
    width: 424px;
    height: 424px;
    right: 0;
    bottom: 0;
  } */

  .avatar {
      padding: 10px;
      display: flex;
  }
  
  .avatar img {
    width: 200px;
  }
  .item {
      color: green;
  }

  .contact {
    padding-left: 10px;
  }